<!DOCTYPE HTML>
<html>
		
		<head>
			<title>ShorURL.co |{% block title %}Get it Shortened{% endblock title %}</title>
			<link rel="stylesheet" href="
			https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css" rel="stylesheet">

		<style>
			body {
				background-color: #226268;
				background:url('http://sonyphotog.com/photos/globalmedicalco/25/123952.jpg');
				color:#000000;				
				background-size: cover;
			}
			
			.btn-link {
				color: white;
				text-shadow: none;
			}

			.btn-link:hover{
				color: #D3D3D3;
			}

		</style>
		



	
    
		 <body class="text-center">
    		<div class="cover-container d-flex w-100 h-50 p-10 mx-auto flex-column">
  				<header class="masthead mb-auto">
   
  				</header>

  			<main role="main" class="inner cover">
   
    			{% block content %}
				{% endblock content %}
    
  			</main>

  
			</div>
		</body>

 
    	
 
		


		
</html>
